.blob {
  position: absolute;
  width: 129.68526383324392428037629966197px;
  height: 130.31550000723984636101685916587px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/blob.svg');
  background-position: right;
}

.blobText {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  right: 35px;
}
