@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  src: local('IRANYekanX'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'IRANYekanX', 'Roboto', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
